{% extends "::base.html.twig" %}
{% block title %}NebulaFlow{% endblock %}
{% block content %}
		<section>
			<article>
				<h2>Welcome to NebulaFlow</h2>
				<p>Home Page</p>
			<article>
		</section>
{% endblock %}