{% extends "::base.html.twig" %}
{% block title %}NebulaFlow - About NebulaFlow{% endblock %}
{% block content %}
		<section>
			<article>
				<h2>About NebulaFlow</h2>
				<p>NebulaFlow is an open source project that adds web/cloud-based workflow management capabilities to an existing CRM/ERM solution. You can read more about us on <a href="http://www.nebulaflow.org/" target="_blank">our website</a>.</p>
			<article>
		</section>
{% endblock %}