{% extends "::base.html.twig" %}
{% block title %}NebulaFlow - Dashboard{% endblock %}
{% block content %}
		<section>
			<article>
				<h2>Your Dashboard</h2>
				<p class="dashlet">1</p>
				<p class="dashlet">2</p>
				<p class="dashlet">3</p>
				<p class="dashlet">4</p>
			<article>
		</section>
{% endblock %}